<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="addressMapper">
	
	<select id="getAddressById" parameterType="int" resultType = "address">
		select * from address where id=#{id}
	</select>
	
	<select id="getAddressesByMemberId" parameterType="int" resultType = "address">
		select * from address where member_id=#{id}
	</select>
	
	<select id="getAllAddress" resultType = "address">
		select * from address order by id desc
	</select>
	
	<insert id="saveAddress" parameterType="address">
		insert into Address (member_id,name,province,city,area,address,telephone,email,alias,zipCode,createTime,isDefault) 
					values (#{memberId},#{name},#{province},#{city},#{area},#{address},#{telephone},#{email},#{alias},#{zipCode},#{createTime},#{isDefault})
	</insert>
	
	<delete id="deleteAddressById" parameterType="int">
		delete from Address where id=#{id}
	</delete>
	
	<resultMap type="address" id="addressResultMap">
		<id property="id" column="id"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="name" column="NAME"/>
		<result property="province" column="PROVINCE"/>
		<result property="city" column="CITY"/>
		<result property="area" column="AREA"/>
		<result property="address" column="ADDRESS"/>
		<result property="telephone" column="TELEPHONE"/>
		<result property="email" column="EMAIL"/>
		<result property="alias" column="ALIAS"/>
		<result property="zipCode" column="ZIP_CODE"/>
		<result property="createTime" column="CREATE_TIME"/>
		<result property="isDefault" column="IS_DEFAULT"/>		
	</resultMap>
</mapper>