<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
	<select id="getMemberById" parameterType="int" resultType = "com.lucky.core.entity.member.Member">
		select * from member where id=#{id}
	</select>
	<select id="getAllMember" resultType="java.util.List">
		select * from member order by id desc
	</select>
	
	<insert id="saveMember" parameterType="com.lucky.core.entity.member.Member">
		insert into member (account,password,nick_name,register_Date_Time) 
					values (#{account},#{password},#{nickName},#{registerDateTime})
	</insert>
	
	<delete id="deleteMemberById" parameterType="int">
		delete from member where id=#{id}
	</delete>
	
	<resultMap type="com.lucky.core.entity.member.Member" id="memberResultMap">
		<id property="id" column="id"/>
		<result property="account" column="ACCOUNT"/>
		<result property="nickName" column="NICK_NAME"/>
		<result property="name" column="NAME"/>
		<result property="certType" column="CERT_TYPE"/>
		<result property="certNo" column="cert_No"/>
		<result property="password" column="password"/>
		<result property="email" column="email"/>
		<result property="mobile" column="mobile"/>
		<result property="status" column="status"/>
		<result property="registerDateTime" column="register_Date_Time"/>
		<result property="lastLoginDateTime" column="last_Login_Date_Time"/>
		<result property="exprerience" column="EXPRERIENCE"/>
		<result property="sourceId" column="SOURCE_ID"/>
		<result property="provider" column="PROVIDER"/>
		<result property="picture" column="PICTURE"/>
		<result property="isMobileAuthed" column="IS_MOBILE_AUTHED"/>
		<result property="isEmailAuthed" column="IS_EMAIL_AUTHED"/>
		<result property="isVIP" column="IS_VIP"/>
		<result property="isCharge" column="IS_CHARGE"/>
		<result property="isVirtualAccount" column="IS_VIRTUAL_ACCOUNT"/>
	</resultMap>
</mapper>